#index_runs.transitions-enabled
  - @runs.each do |run|
    .box.panel.panel-default
      = link_to (image_tag run.image.url), run
      .panel-body
        %h1= link_to run.location, run
        %h4= link_to run.date.strftime("%B %d"), run
