#index_runs.transitions-enabled
  - @runs.each do |run|
    .box.panel.panel-default
      = link_to (image_tag run.image.url), run
      .panel-body
        %h2= link_to run.date.strftime("%A %B %d"), run
