@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'megrim';
  src:  font-url('Megrim.ttf');
}

@font-face {
  font-family: 'europeUnderground';
  src:  font-url('EuropeUnderground_light.ttf');
}

@font-face {
  font-family: 'europeUndergroundBlack';
  src:  font-url('EuropeUnderground_black.ttf');
}

html {
  height: 100%;
}

body {
  background: white !important;
}
h1 {
  color: white !important;
  font-family: megrim, fantasy !important;
}
h2, h3, h4, h5, h6, p {
  font-family: megrim, fantasy !important;
}

.btn-circle {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 50% !important;
}

.btn-color1 {
  background: #47b8e0 !important;
  color: white !important;
}

.btn-color2 {
  background: #ff7473 !important;
  color: white !important;
}

.btn-color3 {
  background: #34314c !important;
  color: white !important;
}

.navbar-default {
  background: rgba(250, 250, 250, 0.5);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  border-radius: 0;
    .navbar-brand {
      color: #34314c !important;
      font-size: 2em;
      text-transform: uppercase;
      font-weight: 700;
      font-family: europeUndergroundBlack, sans-serif;
    }
    .navbar-link {
      line-height: 3.5;
      color: white;
    }
  }

#index_runs {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
    .user {
      font-size: 12px;
      border-top: 1px solid #EAEAEA;
      padding: 15px;
      margin: 0;
    }
  }
}

#edit_page {
  .current_image {
    img {
      display: block;
      margin: 20px 0;
    }
  }
}

#run_show {
  .panel-heading {
    padding: 0;
  }
  .run_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
    }
    .description {
      color: #868686;
      line-height: 1.75;
      margin: 0;
    }
  }
  .panel-footer {
    padding: 20px 35px;
    p {
      margin: 0;
    }
    .user {
      padding-top: 8px;
    }
  }
}
/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
